In [1948]:
# Dependencies 
import pandas as pd 
import numpy as np

In [1949]:
# load CSV
school_table = pd.read_csv("../Resources/Schools.csv")
students_table = pd.read_csv("../Resources/Students.csv")

In [1950]:
# Rename school name as school
d = {'name': 'school'}
schools_df = school_table.rename(columns=d)

In [1951]:
# District Summary Calculation
total_budget = school_table['budget'].sum()
school_count = school_table['School ID'].count()
total_students = students_table['Student ID'].count() 
average_reading_score = students_table['reading_score'].sum()/total_students
average_math_score = students_table['math_score'].sum()/total_students
passing_maths = (students_table['math_score'].loc[students_table['math_score'] >= 70].count() / total_students)*100
passing_reading = (students_table['reading_score'].loc[students_table['reading_score'] >= 70].count() / total_students)*100
overall_passing_rate = (passing_maths + passing_reading)/2

In [1952]:
# Dataframe for District Summary
data = {'Total Schools': [school_count],'Total Students': [total_students],'Total Budget': [total_budget],'Average Math Score':[average_math_score],
        'Average Reading Score':[average_reading_score],'% Passing Math':[passing_maths],'% Passing Reading':[passing_reading],'% Overall Passing Rate':[overall_passing_rate]}
df = pd.DataFrame(data, columns = ['Total Schools','Total Students','Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing Rate'])
df

,Total Schools,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,78.985371,81.87784,74.980853,85.805463,80.393158

In [1953]:
# Merge the two school and students table data frames on the name of the school
schools_df.school = schools_df.school.astype(str)
students_table.school = students_table.school.astype(str) 
df3 = pd.merge(schools_df, students_table, on='school', how='left')

In [1954]:
# Rename type as school type
c = {'type': 'School Type'}
merge_res = df3.rename(columns=c)

In [1955]:
# School Summary Calculation by grouping the school and school type
group_school = merge_res.groupby(['school','School Type'])
student_count_summ = group_school['Student ID'].count()
total_budget = group_school['budget'].unique() 
total_budget = total_budget.astype(float)
budget_per_student = total_budget / student_count_summ
avg_math = group_school['math_score'].sum()/student_count_summ
avg_read = group_school['reading_score'].sum()/student_count_summ

In [1956]:
# School summary percentage calculation by setting the index as school
reset = merge_res.set_index('school') 
pass_maths = (reset['math_score'].loc[reset['math_score'] >= 70])
maths_pass_per = (pass_maths.groupby(['school']).count()/student_count_summ)*100
pass_read = (reset['reading_score'].loc[reset['reading_score'] >= 70])
read_pass_per = (pass_read.groupby(['school']).count()/student_count_summ)*100
overall_pass_rate = (maths_pass_per + read_pass_per)/2

In [1957]:
# Dataframe for School Summary
data = {'Total Students' : student_count_summ,'Total School Budget':total_budget,'Per Student Budget':budget_per_student,'Average Math Score': avg_math,'Average Reading Score': avg_read,
       '% Pass Math':maths_pass_per,'%Pass Reading':read_pass_per,'% Overall Passing Rate':overall_pass_rate}
df2 = pd.DataFrame(data, columns = ['Total Students','Total School Budget','Per Student Budget','Average Math Score','Average Reading Score','% Pass Math','%Pass Reading','% Overall Passing Rate'])

#Including the $ sign with Budget columns
df2["Total School Budget"] = df2["Total School Budget"].map("${0:,.0f}".format)
df2["Per Student Budget"] = df2["Per Student Budget"].map("${0:,.0f}".format)
# Text Alignment
d = dict(selector="th",
    props=[('text-align', 'left')])
df2.style.set_table_styles([d])

In [1958]:
# Top Performing school(Passsing Rate)
df3 = df2.nlargest(5, '% Overall Passing Rate') 
d = dict(selector="th",
    props=[('text-align', 'left')])
df3.style.set_table_styles([d])

In [1959]:
# Bottom Performing School(by Passing Rate)
df4 = df2.nsmallest(5, '% Overall Passing Rate') 
d = dict(selector="th",
    props=[('text-align', 'left')])
df4.style.set_table_styles([d])

In [1960]:
# Math Score by grade Calculation by grouping school and grade
grp_school_grade = students_table.groupby(['school','grade'])
total_stud = grp_school_grade['Student ID'].count()
stacked_m = (grp_school_grade['math_score'].sum()/total_stud)

# Returns a new level of column labels
col_m = stacked_m.unstack()
d_m = dict(selector="th",
    props=[('text-align', 'left')])
col_m.style.set_table_styles([d_m])

In [1961]:
# Reading Score by grade Calculation by grouping school and grade
stacked_r = (grp_school_grade['reading_score'].sum()/total_stud)
col_r = stacked_r.unstack()
d_r = dict(selector="th",
    props=[('text-align', 'left')])
col_r.style.set_table_styles([d_r])

In [1962]:
# Scores by school spending by setting the bin values
bins = [0,585,615,645,675]
p = ["<$585", "$585-615", "$615-645", "$645-675"]

In [1963]:
# Data frame for scores by school spending calculated values
data = {'Total Students' : student_count_summ,'Total School Budget':total_budget,'Per Student Budget':budget_per_student,'Average Math Score': avg_math,'Average Reading Score': avg_read,
       '% Pass Math':maths_pass_per,'%Pass Reading':read_pass_per,'% Overall Passing Rate':overall_pass_rate}
df = pd.DataFrame(data, columns = ['Total Students','Total School Budget','Per Student Budget','Average Math Score','Average Reading Score','% Pass Math','%Pass Reading','% Overall Passing Rate'])

In [1964]:
pd.cut(df["Per Student Budget"],bins,labels=p).head()

school                School Type
Bailey High School    District       $615-645
Cabrera High School   Charter           <$585
Figueroa High School  District       $615-645
Ford High School      District       $615-645
Griffin High School   Charter        $615-645
Name: Per Student Budget, dtype: category
Categories (4, object): [<$585 < $585-615 < $615-645 < $645-675]

In [1965]:
# Bin values are set to the column "Per Student Budget"
df["Per Student Budget"] = pd.cut(df["Per Student Budget"],bins,labels=p)  
b = {'Per Student Budget': 'Spending Ranges per student'}
mer_res = df.rename(columns=b)

In [1966]:
#Calculation based on the groupby spending ranges per student
school_grp = mer_res.groupby('Spending Ranges per student')
avg_math = school_grp['Average Math Score'].mean()
avg_read = school_grp['Average Reading Score'].mean()
pass_maths = school_grp['% Pass Math'].mean()
pass_reading = school_grp['%Pass Reading'].mean() 
overall_pass = (pass_maths+pass_reading)/2

In [1967]:
data = {'Average Math Score': avg_math,'Average Reading Score': avg_read,'% Pass Math':pass_maths,'%Pass Reading':pass_reading,'% Overall Passing Rate':overall_pass}
df5 = pd.DataFrame(data, columns = ['Average Math Score','Average Reading Score','% Pass Math','%Pass Reading','% Overall Passing Rate'])
b = dict(selector="th",
    props=[('text-align', 'left')])
df5.style.set_table_styles([b])

In [1968]:
# Bin values for calculating Scores by school size
bin1 = [0,1000,2000,5000]
a = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
pd.cut(df["Total Students"],bin1,labels=a).head()

school                School Type
Bailey High School    District        Large (2000-5000)
Cabrera High School   Charter        Medium (1000-2000)
Figueroa High School  District        Large (2000-5000)
Ford High School      District        Large (2000-5000)
Griffin High School   Charter        Medium (1000-2000)
Name: Total Students, dtype: category
Categories (3, object): [Small (<1000) < Medium (1000-2000) < Large (2000-5000)]

In [1969]:
df["Total Students"] = pd.cut(df["Total Students"],bin1,labels=a)  
j = {'Total Students': 'School Size'}
mer_res = df.rename(columns=j)

In [1970]:
# Scores by school size is calculated by grouping 'School Size'
school_grp = mer_res.groupby('School Size')
avg_maths = school_grp['Average Math Score'].mean()
avg_reads = school_grp['Average Reading Score'].mean()
pass_math = school_grp['% Pass Math'].mean()
pass_read = school_grp['%Pass Reading'].mean() 
overall_pass_percent = (pass_math+pass_read)/2

In [1971]:
# Data frame for scores by school size calculation
data = {'Average Math Score': avg_maths,'Average Reading Score': avg_reads,'% Pass Math':pass_math,'%Pass Reading':pass_read,'% Overall Passing Rate':overall_pass_percent}
df6 = pd.DataFrame(data, columns = ['Average Math Score','Average Reading Score','% Pass Math','%Pass Reading','% Overall Passing Rate'])
d = dict(selector="th",
    props=[('text-align', 'left')])
df6.style.set_table_styles([d])

In [1972]:
# Scores by school type calculation by grouping 'School Type'
school_grp = mer_res.groupby('School Type')
avg_maths_score = school_grp['Average Math Score'].mean()
avg_reads_score = school_grp['Average Reading Score'].mean()
pass_math_score = school_grp['% Pass Math'].mean()
pass_read_score = school_grp['%Pass Reading'].mean() 
overall_pass_per = (pass_math_score+pass_read_score)/2

In [1973]:
# Data frame for Scores by school Type 
data = {'Average Math Score': avg_maths_score,'Average Reading Score': avg_reads_score,'% Pass Math':pass_math_score,'%Pass Reading':pass_read_score,'% Overall Passing Rate':overall_pass_per}
df7 = pd.DataFrame(data, columns = ['Average Math Score','Average Reading Score','% Pass Math','%Pass Reading','% Overall Passing Rate'])
n = dict(selector="th",
    props=[('text-align', 'left')])
df7.style.set_table_styles([n])